* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  font-family: "Minecraft";
  font-size: 15px;
  background-color: #3a3a3a;
  color: #b0b4bc;
  padding: 10px;
}

.corner {
  margin-left: 8px;
  font-family: "FiraCode Nerd Font";
  color: #303030;
  font-size: 21px;
  background-color: #3a3a3a;
}

.corner-b {
  margin-left: 8px;
  padding-right: 12px;
  font-family: "FiraCode Nerd Font";
  color: #3a3a3a;
  font-size: 21px;
  background-color: #3f3f5a;
}

.datetime {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #3f3f5a;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: #5f5faf;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.label-ram {
  font-size: large;
}

.workspaces {
  padding: 0px 0px 0px 8px;
  background-color: #303030;
}


.workspaces button {
  margin: -4px;
  transition-property: color;
  transition-duration: 500ms;
}

.workspaces button:hover {
  color: #5f5faf;
}

.workspaces button.idle{
  border-radius: 4px;
  transition-property: color, background-color;
  transition-duration: 500ms;
}

.workspaces button.active{
  border-radius: 4px;
  color:#5f5faf;
  background-color: #34343F;
  font-weight: bold;
}
